@model Meliogis.Models.RIVERBAND

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MeliogisAdmin/Views/Shared/AdminLayout.cshtml";
}

    <div class="edit_con">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OBJECTID)

                
                <div class="col-md-4 mb-4">
                    <label class="control-label">Adı</label>
                    @*@Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Hündürlük</label>
                    @*@Html.LabelFor(model => model.HEIGHT, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.HEIGHT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HEIGHT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Uzunluğu</label>
                    @*@Html.LabelFor(model => model.LENGTH, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.LENGTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LENGTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Qeyd</label>
                    @*@Html.LabelFor(model => model.NOTE, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.NOTE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NOTE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Təhlükəsizlik növü</label>
                    @*@Html.LabelFor(model => model.SECURITY_TYPE, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.SECURITY_TYPE_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SECURITY_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="col-md-4 mb-4">
                    <label class="control-label">Örtük növü</label>                    
                    @*@Html.LabelFor(model => model.COVER_TYPE_ID, "COVER_TYPE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                        
                        <select class="form-control"  name="COVER_TYPE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.COVER_TYPE_ID)
                            {
                                if (item.OBJECTID == Model.COVER_TYPE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.COVER_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Texniki vəziyyəti</label>
                    @*@Html.LabelFor(model => model.TECHNICAL_TYPE_ID, "TECHNICAL_TYPE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                       
                        <select class="form-control" name="TECHNICAL_TYPE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.TECHNICAL_TYPE_ID)
                            {
                                if (item.OBJECTID == Model.TECHNICAL_TYPE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.TECHNICAL_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Mülkiyyət növü</label>
                    @*@Html.LabelFor(model => model.PROPERTY_TYPE_ID, "PROPERTY_TYPE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                       
                        <select class="form-control" name="PROPERTY_TYPE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.PROPERTY_TYPE_ID)
                            {
                                if (item.OBJECTID == Model.PROPERTY_TYPE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.PROPERTY_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Təyinat</label>
                    @*@Html.LabelFor(model => model.ASSIGMENT_ID, "ASSIGMENT_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                       
                        <select class="form-control" name="ASSIGMENT_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.ASSIGMENT_ID)
                            {
                                if (item.OBJECTID == Model.ASSIGMENT_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ASSIGMENT_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Yerləşdiyi mənbə</label>
                    @*@Html.LabelFor(model => model.PLACED_SOURCE_ID, "PLACED_SOURCE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                       
                        <select class="form-control" name="PLACED_SOURCE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.PLACED_SOURCE_ID)
                            {
                                if (item.OBJECTID == Model.PLACED_SOURCE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.PLACED_SOURCE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Rayonun adı</label>
                    @*@Html.LabelFor(model => model.REGIONS_ID, "REGIONS_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        <select class="form-control _regionChange" required name="REGIONS_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.REGIONS_ID)
                            {
                                if (item.OBJECTID == Model.REGIONS_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.Adi</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.Adi</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.REGIONS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Kənd adı</label>
                    @*@Html.LabelFor(model => model.VILLAGE_ID, "VILLAGE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        <select class="form-control _villageContent" name="VILLAGE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.VILLAGE_ID)
                            {
                                if (item.OBJECTID==Model.VILLAGE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.VILLAGE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">SİB</label>                    
                    @*@Html.LabelFor(model => model.SIBS_ID, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                     
                        <select class="form-control" name="SIBS_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.SIBS_ID)
                            {
                                if (item.OBJECTID==Model.SIBS_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.SIBS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">Istismara verildiyi tarix</label>
                    @*@Html.LabelFor(model => model.EXPLONATION_DATE, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">
                        @Html.EditorFor(model => model.EXPLONATION_DATE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EXPLONATION_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 offset-md-4 mb-4">
                    <div class="inp">
                        <input type="submit" value="Save" class="m_btn sbm_btn w_100" style="outline:none;"/>
                    </div>
                </div>
            </div>
        }
    </div>