@model Meliogis.Models.ARTEZIAN_WELL

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/MeliogisAdmin/Views/Shared/AdminLayout.cshtml";
}

    <div class="edit_con">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OBJECTID)

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.REPER_NO, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Nömrəsi</label>
                    <div class="inp">
                        @Html.EditorFor(model => model.REPER_NO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.REPER_NO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @Html.LabelFor(model => model.POINT_X, htmlAttributes: new { @class = "control-label " })                    
                    <div class="inp">
                        @Html.EditorFor(model => model.POINT_X, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.POINT_X, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @Html.LabelFor(model => model.POINT_Y , htmlAttributes: new { @class = "control-label " })                    
                    <div class="inp">
                        @Html.EditorFor(model => model.POINT_Y, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.POINT_Y, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @Html.LabelFor(model => model.POINT_Z , htmlAttributes: new { @class = "control-label " })                    
                    <div class="inp">
                        @Html.EditorFor(model => model.POINT_Z, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.POINT_Z, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @Html.LabelFor(model => model.POINT_M , htmlAttributes: new { @class = "control-label " })                    
                    <div class="inp">
                        @Html.EditorFor(model => model.POINT_M, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.POINT_M, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.IRRIGATED_AREA, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Suvarılan ərazi</label>
                    <div class="inp">
                        @Html.EditorFor(model => model.IRRIGATED_AREA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IRRIGATED_AREA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.DEPTH, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Dərinliyi</label>
                    <div class="inp">
                        @Html.EditorFor(model => model.DEPTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DEPTH, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.WATER_CAPABILITY, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Su buraxma qabiliyyəti </label>
                    <div class="inp">
                        @Html.EditorFor(model => model.WATER_CAPABILITY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WATER_CAPABILITY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.PRODUCTIVITY, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Su buraxma qabiliyyəti </label>
                    <div class="inp">
                        @Html.EditorFor(model => model.PRODUCTIVITY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PRODUCTIVITY, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.WELL_TYPE_ID, "WELL_TYPE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Quyu Tipi</label>
                    <div class="inp">
                        <select class="form-control" name="WELL_TYPE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.WELL_TYPE_ID)
                            {
                                if (item.OBJECTID == Model.WELL_TYPE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.WELL_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.ASSIGMENT_ID, "ASSIGMENT_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Təyinatı</label>
                    <div class="inp">
                        <select class="form-control" name="ASSIGMENT_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.ASSIGMENT_ID)
                            {
                                if (item.OBJECTID == Model.ASSIGMENT_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ASSIGMENT_ID, "", new { @class = "text-danger" })
                    </div>
                </div>                

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.ACTIVITY_ID, "ACTIVITY_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Aktivlik</label>
                    <div class="inp">
                        <select class="form-control" name="ACTIVITY_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.ACTIVITY_ID)
                            {
                                if (item.OBJECTID == Model.ACTIVITY_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ACTIVITY_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.PROPERTY_TYPE_ID, "PROPERTY_TYPE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Mülkiyyət növü</label>
                    <div class="inp">
                        <select class="form-control" name="PROPERTY_TYPE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.PROPERTY_TYPE_ID)
                            {
                                if (item.OBJECTID == Model.PROPERTY_TYPE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.PROPERTY_TYPE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.PUMPSTATION_BRAND_ID, "PUMPSTATION_BRAND_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Brendi</label>
                    <div class="inp">
                        <select class="form-control" name="PUMPSTATION_BRAND_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.PUMPSTATION_BRAND_ID)
                            {
                                if (item.OBJECTID == Model.PUMPSTATION_BRAND_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.PUMPSTATION_BRAND_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.REGIONS_ID, "REGIONS_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Regionun adı</label>
                    <div class="inp">
                        <select class="form-control _regionChange" required name="REGIONS_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.REGIONS_ID)
                            {
                                if (item.OBJECTID == Model.REGIONS_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.Adi</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.Adi</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.REGIONS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.VILLAGE_ID, "VILLAGE_ID", htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label"> Kendin adı</label>
                    <div class="inp">
                        <select class="form-control _villageContent" name="VILLAGE_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.VILLAGE_ID)
                            {
                                if (item.OBJECTID == Model.VILLAGE_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.VILLAGE_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label class="control-label">SİB</label>                    
                    @*@Html.LabelFor(model => model.SIBS_ID, htmlAttributes: new { @class = "control-label " })*@
                    <div class="inp">                     
                        <select class="form-control" name="SIB_ID">
                            <option value="" hidden>Sec</option>
                            @foreach (var item in ViewBag.SIBS_ID)
                            {
                                if (item.OBJECTID==Model.SIB_ID)
                                {
                                    <option selected value="@item.OBJECTID"> @item.NAME</option>
                                }
                                else
                                {
                                    <option value="@item.OBJECTID"> @item.NAME</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.SIB_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    @*@Html.LabelFor(model => model.EXPLONATION_DATE, htmlAttributes: new { @class = "control-label " })*@
                    <label class="control-label">Istismara verildiyi tarix</label>
                    <div class="inp">
                        @Html.EditorFor(model => model.EXPLONATION_DATE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EXPLONATION_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4 offset-md-4 mb-4">
                    <div class="inp">
                        <input type="submit" value="Save" class="m_btn sbm_btn w_100" style="outline:none;" />
                    </div>
                </div>
            </div>
        }
    </div>